<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ConnectionString" value="341A56573108DF5180D3372E5EFE1592B624BFFA15C456975CFAF1BC8C583A42EDA3D49D2748158AF35C8FEE9C49AC3AE56FD8D0A520CE5950B5C5A6B15657EB5191EB0D1B1F912C6DB48E2901E69B441674C08CB4293540C36EC4430E8FA5AB" />
    <add key="ConStringEncrypt" value="true" />
    <add key="ComCode" value="518774,509251,791569,792243" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>